.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.navbar .navbar-logo {
  color: white;
  margin-left: 20px;
  font-size: 40px;
  font-family: "Roboto", serif;
}

.navbar .navbar-logo a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", serif;
}

.navbar .navbar-logo a:hover {
  cursor: pointer;
}

/* .navbar .navbar-logo a {
  color: white;
  background-color: yellow;
  margin-left: 20px;
  font-size: 40px;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "width" 100;
} */

.navbar .nav-search {
  flex: 1;
  display: flex;
  margin-top: 5px;
  margin-left: 5%;
  margin-right: 5%;
}

.navbar .nav-search input {
  flex: 1;
  color: black;
  border: 1px solid white;
  height: 30px;
  border-right: none;
  border-radius: 3px 0px 0px 3px;
  padding-left: 15px;
}

.navbar .nav-search button {
  color: black;
  border: 1px solid white;
  height: 30px;
  border-radius: 0px 3px 3px 0px;
  padding: 0px 10px;
}

.navbar ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar ul li {
  padding-left: 15px;
  padding-top: 15px;
  margin-left: 25px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  cursor: pointer;
}

.suggested-search {
  position: absolute;
  top: 40px;
  z-index: 10;
  display: list-item !important;
  border: 1px solid #ddd;
  background-color: #fff;
}

.suggested-search li {
  padding: 5px;
  /* background-color: yellow; */
  width: inherit;
  border: 1px solid #ddd;
  border-right: none;
}

.suggested-search li a {
  cursor: pointer;
  color: black !important ;
}
