<nav class="navbar">
  <div class="navbar-logo">
    <div [ngSwitch]="menuType" class="logo">
      <div *ngSwitchCase="'default'"><a routerLink="/">TECHZY</a></div>
      <div *ngSwitchCase="'user'"><a routerLink="/">TECHZY</a></div>
      <div *ngSwitchCase="'seller'">
        <a routerLink="/seller-home">TECHZY</a>
      </div>
    </div>
    <!-- <a routerLink="/">TECHZY</a> -->
  </div>
  <div *ngIf="menuType !== 'seller'" class="nav-search">
    <input
      type="text"
      #searchInput
      (keyup)="searchProduct($event)"
      (blur)="hideSearch()"
      placeholder="Search"
    />
    <button (click)="submitSearch(searchInput.value)">
      <fa-icon [icon]="searchIcon"></fa-icon>
    </button>
    <ul class="suggested-search">
      <li *ngFor="let item of searchResult">
        <a (mousedown)="redirectToDetails(item.id)">{{ item.name }}</a>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="menuType" class="nav-menu">
    <!-- default menu start -->
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="">HOME</a></li>
      <li><a routerLink="/user-auth"> LOGIN</a></li>
      <li>
        <a href="/user-auth"
          ><fa-icon [icon]="cartIcon"></fa-icon> {{ cartItems }}</a
        >
      </li>
    </ul>
    <!-- default menu end -->

    <!-- user menu start -->
    <ul *ngSwitchCase="'user'">
      <li>
        <a [routerLink]="cartItems > 0 ? 'cart-page' : null"
          ><fa-icon style="font-size: 1.2rem" [icon]="cartIcon"></fa-icon>
          {{ cartItems }}</a
        >
      </li>
      <li><a routerLink="">HOME</a></li>
      <li><a routerLink="products-page">PRODUCTS</a></li>

      <li>
        <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
          HI {{ userName | uppercase }}!
          <fa-icon [icon]="caretDownIcon"></fa-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item routerLink="my-orders">MY ORDERS</button>
          <button mat-menu-item (click)="userLogout()">LOGOUT</button>
        </mat-menu>
      </li>
    </ul>
    <!-- user menu end -->

    <!-- seller menu start -->
    <ul *ngSwitchCase="'seller'">
      <li>
        <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
          HI {{ sellerName | uppercase }}!
          <fa-icon [icon]="caretDownIcon"></fa-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item routerLink="seller-add-product">
            ADD RPODUCT
          </button>
          <button mat-menu-item routerLink="seller-home">ALL PRODUCTS</button>
          <button mat-menu-item (click)="logout()">LOGOUT</button>
        </mat-menu>
      </li>
    </ul>
    <!-- seller menu end -->
  </div>
</nav>
