ul {
  margin: 0;
  padding: 0;
}
.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: #000000;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.div1 {
  width: 80%;
  text-align: left;
}

.div1 a {
  text-decoration: none;
  color: white;
}
.footer ul {
  width: 20%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.footer ul li a,
.footer ul li i,
.footer ul li fa-icon {
  color: rgb(212, 212, 212);
  text-decoration: none;
}

.footer ul li fa-icon:hover {
  color: white;
  text-decoration: none;
}
