<div class="checkout">
  <div class="container2">
    <h1 class="typing-text1">CHECKOUT</h1>
  </div>
  <div class="row checkout-container" style="color: white">
    <div class="col-sm-5 total-details">
      <p>Total: {{ totalPrice }}</p>
      <p>Payment Method: <b>Pay On Delivery</b></p>
    </div>
    <!-- new form starts -->
    <div class="card">
      <h2 class="form-heading">Shipping Address</h2>
      <p *ngIf="orderMessage" class="error-p">{{ orderMessage }}</p>
      <form
        #orderData="ngForm"
        class="card-form"
        (ngSubmit)="orderNow(orderData.value)"
      >
        <div class="input">
          <input
            type="text"
            class="input-field"
            name="email"
            ngModel
            required
          />
          <label class="input-label">Email</label>
        </div>
        <div class="input">
          <input
            type="email"
            class="input-field"
            name="address"
            ngModel
            required
          />
          <label class="input-label">Full Address</label>
        </div>
        <div class="input">
          <input
            type="text"
            class="input-field"
            name="contact"
            ngModel
            required
          />
          <label class="input-label">Contact Number</label>
        </div>
        <div class="action">
          <button class="action-button">Order Now</button>
        </div>
      </form>
    </div>
    <!-- new form ends -->
  </div>
</div>
