.checkout {
  height: 100vh;
  width: 93vw;
  overflow-x: hidden;
  margin: 50px;
}

.checkout h1 {
  text-align: center;
  margin: 30px;
}

.checkout h3 {
  text-align: center;
  margin-top: 15px;
}

.sign-up {
  border-radius: 6px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.sign-up form .input-box {
  height: 40px;
  margin: 18px 0;
}

form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

form h3 {
  margin-top: 10px;
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
}
form .text h3 a {
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover {
  text-decoration: underline;
  cursor: pointer;
}
