<div class="cart-page">
  <div class="container2">
    <h1 class="typing-text1">CART</h1>
  </div>
  <div class="container3">
    <div class="details">
      <ul *ngFor="let cart of cartData">
        <li>
          <img src="{{ cart.image }}" alt="" />
        </li>
        <li>
          <span>{{ cart.name }}</span>
        </li>
        <li>
          <span>&#8377; {{ cart.price }}</span>
        </li>
        <li>
          <span>Quantity: {{ cart.quantity }}</span>
        </li>
        <li>
          <button class="remove-button" (click)="removeFromCart(cart.id)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </li>
      </ul>
    </div>

    <div class="summary">
      <ul>
        <h3 class="summary-heading">Summary</h3>
        <li>
          <span>Amount:</span
          ><span>
            {{
              priceSummary.price | currency : "INR" : "symbol" : "1.0-0"
            }}</span
          >
        </li>
        <li>
          <span>Tax:</span
          ><span>{{
            priceSummary.tax | currency : "INR" : "symbol" : "1.0-0"
          }}</span>
        </li>
        <li>
          <span>Delivery:</span
          ><span>{{
            priceSummary.delivery | currency : "INR" : "symbol" : "1.0-0"
          }}</span>
        </li>
        <li>
          <span>Discount:</span
          ><span>
            {{
              priceSummary.discount | currency : "INR" : "symbol" : "1.0-0"
            }}</span
          >
        </li>
        <li>
          <span><h4>Total:</h4></span>
          <span
            ><h4>
              {{ priceSummary.total | currency : "INR" : "symbol" : "1.0-0" }}
            </h4></span
          >
        </li>
        <button (click)="checkout()" class="checkout-btn">CHECKOUT</button>
      </ul>
    </div>
  </div>
</div>
