<div class="add-product">
  <div class="container2">
    <h1 class="typing-text1">ADD NEW PRODUCT</h1>
  </div>

  <div class="card">
    <form
      #addProduct="ngForm"
      class="card-form"
      (ngSubmit)="submit(addProduct.value)"
    >
      <p *ngIf="addProductError" class="error-p">{{ addProductError }}</p>
      <p *ngIf="addProductMessage" class="message-p">{{ addProductMessage }}</p>
      <div class="form-section">
        <div class="input">
          <input
            type="text"
            class="input-field"
            name="name"
            placeholder="Product Name"
            ngModel
          />
          <label class="input-label">Product Name</label>
        </div>
        <div class="input">
          <input
            type="text"
            class="input-field"
            name="price"
            placeholder="Product Price"
            ngModel
          />
          <label class="input-label">Product Price</label>
        </div>
      </div>

      <div class="form-section">
        <div class="input">
          <input
            type="text"
            class="input-field"
            name="category"
            placeholder="Product Category"
            ngModel
          />
          <label class="input-label">Product Category</label>
        </div>
        <div class="input">
          <input
            type="text"
            class="input-field"
            name="color"
            placeholder="Product Color"
            ngModel
          />
          <label class="input-label">Product Color</label>
        </div>
      </div>
      <div class="form-section">
        <div class="input1">
          <input
            type="text"
            class="input-field"
            name="description"
            placeholder="Product Description"
            ngModel
          />
          <label class="input-label">Product Description</label>
        </div>
      </div>
      <div class="form-section">
        <div class="input1">
          <input
            type="text"
            class="input-field"
            name="image"
            placeholder="Image URL"
            ngModel
          />
          <label class="input-label">Product Image URL</label>
        </div>
      </div>
      <div class="action">
        <button class="action-button">ADD PRODUCT</button>
      </div>
    </form>
  </div>
</div>
