<div class="product-list">
  <h1>PRODUCT LIST</h1>
  <p class="message-p">{{ productMessage }}</p>
  <table>
    <thead>
      <tr>
        <th>IMAGE</th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>COLOR</th>
        <th>CATEGORY</th>
        <th>DESCRIPTION</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productList">
        <td><img src="{{ item.image }}" alt="" /></td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.color }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
        <td><button (click)="deleteProduct(item.id)">DELETE</button></td>
      </tr>
    </tbody>
  </table>
</div>
