<div class="product-list">
  <h1 class="heading-text">PRODUCT LIST</h1>
  <div class="custom-container">
    <div class="custom-card" *ngFor="let item of productList">
      <div class="prod-image"><img src="{{ item.image }}" alt="" /></div>
      <div class="prod-name-price">
        <p>Name: {{ item.name }}</p>
        <p>Price: {{ item.price }}</p>
      </div>
      <div class="prod-color-cat">
        <p>Color: {{ item.color }}</p>
        <p>Category: {{ item.category }}</p>
      </div>
      <div class="prod-description">
        <p>Description: {{ item.description }}</p>
      </div>
      <div class="action">
        <button>Action</button>
      </div>
    </div>
  </div>
  <p class="message-p">{{ productMessage }}</p>
  <table>
    <thead>
      <tr>
        <th>IMAGE</th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>COLOR</th>
        <th>CATEGORY</th>
        <th>DESCRIPTION</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productList">
        <td><img src="{{ item.image }}" alt="" /></td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.color }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
        <td>
          <!-- click event using this button-->
          <fa-icon [icon]="icon" (click)="deleteProduct(item.id)"></fa-icon>
          <!-- change routes using this button -->
          <a
            class="adjust-update-link"
            routerLink="/seller-update-product/{{ item.id }}"
          >
            <fa-icon [icon]="updateIcon"></fa-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
