<div class="product-list">
  <div class="container2">
    <h1 class="typing-text1">ADDED PRODUCTS</h1>
  </div>
  <div class="custom-container">
    <p class="message-p">{{ productMessage }}</p>
    <div class="custom-card" *ngFor="let item of productList">
      <div class="prod-image"><img src="{{ item.image }}" alt="" /></div>
      <div class="prod-details">
        <div class="small-details">
          <p><b>Name: </b>{{ item.name }}</p>
          <p><b>Price: </b>{{ item.price }}</p>
          <p><b>Color: </b>{{ item.color }}</p>
          <p><b>Category: </b>{{ item.category }}</p>
        </div>

        <p style="text-align: justify">
          <b>Description: </b>{{ item.description }}
        </p>
        <div class="prod-action">
          <button title="Delete Product" (click)="deleteProduct(item.id)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>

          <button
            title="Update Product"
            routerLink="/seller-update-product/{{ item.id }}"
          >
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
