.product-list {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-list .heading-text {
  margin-top: 50px;
}
/* card component styling start */
.product-list .custom-container {
  width: 100%;
}

.product-list .custom-container .custom-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 50px 10px 50px;
  background-color: rgb(237, 237, 237);
  border-radius: 30px;
  padding: 1% 5% 1% 5%;
}
/* card component styling end */

table {
  text-align: left;
  color: black;
  border-collapse: collapse;
  margin: 10px 40px 20px 20px;
}

table td,
table th {
  border: 1px solid grey;
  padding: 10px;
  min-width: 160px;
  text-align: center;
}

img {
  height: 100px;
  width: 100px;
}

.adjust-update-link {
  margin-left: 10px;
}
