<div class="seller-auth">
  <!-- left side design -->
  <div class="seller-design">
    <h1>BECOME A SELLER TODAY</h1>
    <p>SIGN UP TO SEE EXCITING OFFERS</p>
  </div>
  <!-- right side design -->
  <div class="sign-up">
    <h1>JOIN US!</h1>
    <form
      class="common-form"
      #sellerSignUp="ngForm"
      (ngSubmit)="signUp(sellerSignUp.value)"
    >
      <input
        type="text"
        class="form-input"
        name="username"
        placeholder="USERNAME"
        ngModel
      />
      <input
        type="email"
        class="form-input"
        name="email"
        placeholder="EMAIL"
        ngModel
      />
      <input
        type="password"
        class="form-input"
        name="password"
        placeholder="PASSWORD"
        ngModel
      />
      <button class="form-button">SIGN UP</button>
    </form>
  </div>
</div>
