.seller-auth {
  display: flex;
  height: calc(100vh - 50px);
}

.seller-design,
.sign-up {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.seller-design {
  width: 40%;
  background-color: #e0e0e0;
}

.sign-up {
  width: 60%;
  background-color: #f4f4f4;
}
