<div class="my-orders">
  <h1>My Orders</h1>
  <!-- header -->
  <div class="row">
    <div class="col-sm-2">
      <span>Order</span>
    </div>
    <div class="col-sm-2">
      <span>Order Id</span>
    </div>
    <div class="col-sm-2">
      <span>Price</span>
    </div>
    <div class="col-sm-2">
      <span>Status</span>
    </div>
    <div class="col-sm-2">
      <span>Delete Order</span>
    </div>
  </div>
  <!-- orders go here -->
  <div class="row order-data" *ngFor="let order of orderListData">
    <div class="col-sm-2">
      <img
        src="https://www.clipartmax.com/png/middle/210-2106541_track-my-order-beach-volleyball.png"
        alt=""
        class="order-img"
      />
    </div>
    <div class="col-sm-2">
      <span>{{ order.id }}</span>
    </div>
    <div class="col-sm-2">
      <span>{{ order.totalPrice }}</span>
    </div>
    <div class="col-sm-2">
      <span>In Progress</span>
    </div>
    <div class="col-sm-2">
      <span><button class="cancel-button">Cancel Order</button></span>
    </div>
  </div>
  <!-- extra -->

  <!-- extra end -->
</div>
