<div class="user-auth">
  <!-- left side design -->
  <div class="user-design">
    <h1>BECOME A MEMBER TODAY</h1>
    <p>SIGN UP TO SEE EXCITING OFFERS</p>
  </div>
  <!-- right side design -->
  <!-- sign up form -->
  <div class="sign-up" *ngIf="!showLogin">
    <h1>USER SIGN-UP</h1>
    <form
      class="common-form"
      #userSignUp="ngForm"
      (ngSubmit)="signUp(userSignUp.value)"
    >
      <div class="input-box">
        <input
          type="text"
          class="form-input"
          name="username"
          placeholder="USERNAME"
          ngModel
        />
      </div>
      <div class="input-box">
        <input
          type="email"
          class="form-input"
          name="email"
          placeholder="EMAIL"
          ngModel
        />
      </div>
      <div class="input-box">
        <input
          type="password"
          class="form-input"
          name="password"
          placeholder="PASSWORD"
          ngModel
        />
      </div>
      <button class="form-button">SIGN UP</button>
      <div class="text">
        <h3>
          Already a Member?
          <a (click)="openLogin()" class="redirect-button">Login Now</a>
        </h3>
      </div>
    </form>
  </div>
  <!-- end of user sign-up form -->
  <!-- login form -->
  <div class="login" *ngIf="showLogin">
    <h1>LOG IN!</h1>
    <p class="error-p"></p>
    <form
      class="common-form"
      #userLogin="ngForm"
      (ngSubmit)="login(userLogin.value)"
    >
      <div class="input-box">
        <input
          type="email"
          class="form-input"
          name="email"
          placeholder="EMAIL"
          ngModel
        />
      </div>
      <div class="input-box">
        <input
          type="password"
          class="form-input"
          name="password"
          placeholder="PASSWORD"
          ngModel
        />
      </div>
      <button class="form-button">LOG IN</button>
      <div class="text">
        <h3>New Member? <a (click)="openSignup()" class="">Register Now</a></h3>
      </div>
    </form>
  </div>
</div>
