<div class="search-container">
  <div class="container2">
    <h1 class="typing-text1">SEARCH RESULTS</h1>
  </div>

  <div class="flex-container">
    <div class="row search-item" *ngFor="let item of searchResult">
      <div class="col-sm 3">
        <a routerLink="/details/{{ item.id }}"
          ><img src="{{ item.image }}" alt=""
        /></a>
      </div>
      <div class="col-sm-8 details">
        <a routerLink="/details/{{ item.id }}" style="width: 50%"
          ><h6>{{ item.name }}, {{ item.color }}</h6></a
        >
        <h6><b>&#8377; </b>{{ item.price }}</h6>
      </div>
    </div>
  </div>
</div>
