<div class="first-div">
  <div class="container">
    <h1 class="top-text">No Gimmicks.</h1>
    <h1 class="typing-text">Just Pure Tech.</h1>
  </div>
  <button onclick="location.href='#products'" class="product-btn">
    SHOP NOW
  </button>
</div>
<div class="home-slider second-div pt-5">
  <div class="container1">
    <h1 class="typing-text">BESTSELLERS</h1>
  </div>
  @if (popularProducts) {
  <ngb-carousel>
    <ng-template *ngFor="let item of popularProducts" ngbSlide>
      <div class="picsum-img-wrapper">
        <a routerLink="/details/{{ item.id }}">
          <img
            class="product-slider-image bg-white"
            src="{{ item.image }}"
            alt="Random first slide"
        /></a>
      </div>
      <div class="carousel-caption">
        <h3>{{ item.name }}</h3>
        <p>{{ item.color }}</p>
        <p>&#8377; {{ item.price }}</p>
      </div>
    </ng-template>
  </ngb-carousel>
  }
</div>
<!-- Product -->
<div id="products" class="product-list-wrapper">
  <div class="container2">
    <h1 class="typing-text1">TRENDY PRODUCTS</h1>
  </div>
  <div class="products-container">
    <div class="col-sm-25" *ngFor="let item of trendyProducts">
      <div class="product-item">
        <img src="{{ item.image }}" class="bg-white" alt="" />
        <div class="product-details">
          <h6 class="name-head">{{ item.name }}, {{ item.color }}</h6>
          <div class="product-price">
            <h6>&#8377; {{ item.price }}</h6>
          </div>
        </div>
        <div class="product-footer">
          <a routerLink="/details/{{ item.id }}">VIEW DETAILS</a>
          <!-- <a href=""
            ><button class="product-button" (click)="addToCart()">
              Add to Cart
            </button></a
          > -->
        </div>
      </div>
    </div>
  </div>
</div>
