.first-div {
  width: 100vw;
  height: 93vh;
  /* background-image: url("https://media.istockphoto.com/id/1472539099/vector/vibrant-color-gradient-on-black-background-abstract-purple-orange-blue-black-banner-blurry.jpg?s=612x612&w=0&k=20&c=yqA7-6LCX3VrFFD7iRGULsK1UcZjV3nRIMDnDvdvvc4=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background: linear-gradient(
    180deg,
    #030303,
    #6395da,
    #9b287d,
    #f1ab86,
    #000000
  );
  /* background: linear-gradient(45deg, #030303, #6395da); */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* typing text css start */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 40vw;
}
.top-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.typing-text {
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-right: 2px solid black;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 3s steps(20, end) forwards, blink 0.7s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* typing text css end */

.first-div h1 {
  font-size: 5rem;
}

.first-div .product-btn {
  font-size: 1.2rem;
  border-radius: 50px;
  background-color: black;
  padding: 7px 40px 7px 40px;
  color: white;
  border: 3px solid white;
  margin: 20px 20px 20px 0px;
}

.home-slider {
  width: 100vw;
  height: 100vh;
}

.home-slider .product-slider-image {
  object-fit: contain;
  height: 600px;
  width: 100%;
}

.product-list-wrapper {
  /* background-color: yellow; */
  width: 100vw;
  padding: 50px;
}

.products-container {
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
}

.product-item {
  /* background-color: blue; */

  margin-bottom: 40px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.product-item img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.product-item .product-details {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

.product-item .name-head {
  font-size: 20px;
  font-weight: 600;
}

.product-item h6 {
  text-align: center;
}

.product-item .product-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.product-item .product-footer a {
  text-decoration: none;
  color: black;
}

.product-item .product-footer a:hover {
  color: rgb(87, 87, 87);
}
