@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.first-div {
  width: 100vw;
  height: 93vh;
  background: linear-gradient(
    180deg,
    #000000,
    #0f172a,
    #263458,
    #1c3160,
    #1e2a4b,
    #0f172a,
    #000000
  );
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

/* typing text css start */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 40vw;
}
.top-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.typing-text {
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-right: 2px solid black;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 3s steps(20, end) forwards, blink 0.7s infinite;
}

.typing-text1 {
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-right: 2px solid black;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing1 3s steps(20, end) forwards, blink 0.7s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}

@keyframes typing1 {
  from {
    width: 0;
  }
  to {
    width: 19ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* typing text css end */

.first-div h1 {
  font-size: 5rem;
}

.first-div .product-btn {
  font-size: 1.2rem;
  border-radius: 50px;
  background-color: black;
  padding: 7px 40px 7px 40px;
  color: white;
  border: 3px solid white;
  margin: 20px 20px 20px 0px;
}

.home-slider {
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: linear-gradient(
    180deg,
    #000000,
    #000000,
    #0f172a,
    #263458,
    #1c3160,
    #1e2a4b,
    #0f172a,
    #000000
  );
  /* background-color: #1b263b; */
  padding-bottom: 50px;
  text-align: center;
}

.home-slider .container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-slider .container1 h1 {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 3rem;
  color: white;
}

.home-slider .picsum-img-wrapper {
  width: 80vw;
  background-color: white;
}

.home-slider .picsum-img-wrapper .product-slider-image {
  object-fit: contain;
  height: 500px;
  width: 100%;
}

.product-list-wrapper {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  padding: 50px;
  background: linear-gradient(
    180deg,
    #000000,
    #000000,
    #0f172a,
    #263458,
    #1c3160,
    #1e2a4b,
    #0f172a,
    #000000
  );
  color: white;
}

.product-list-wrapper .container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.product-list-wrapper .container2 h1 {
  margin-bottom: 50px;
  font-size: 3rem;
  color: white;
}

.products-container {
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
}

.product-item {
  border-radius: 10px;
  margin-bottom: 40px;
  box-sizing: border-box;
  background-color: #364361;
}

.product-item img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 10px 10px 0px 0px;
}

.product-item .product-details {
  padding-top: 15px;
}

.product-item .name-head {
  font-size: 20px;
  font-weight: 600;
}

.product-item h6 {
  text-align: center;
}

.product-item .product-footer {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product-item .product-footer a {
  text-decoration: none;
  font-weight: 500;
  color: #afcbff;
  border: 1px solid #afcbff;
  padding: 5px 20px 5px 20px;
  /* width: 100%; */
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.product-item .product-footer a:hover {
  color: rgb(233, 226, 226);
  border: 2px solid rgb(233, 226, 226);
}
