.home-slider {
  width: 100vw;
  height: 100vh;
}

.home-slider .product-slider-image {
  object-fit: contain;
  height: 600px;
  width: 100%;
}

.product-list-wrapper {
  /* background-color: yellow; */
  width: 100vw;
  padding: 50px;
}

.products-container {
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
}

.product-item {
  /* background-color: blue; */

  margin-bottom: 40px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.product-item img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.product-item .product-details {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

.product-item .name-head {
  font-size: 20px;
  font-weight: 600;
}

.product-item h6 {
  text-align: center;
}

.product-item .product-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
