<div class="update-product">
  <h1 style="text-align: center">UPDATE PRODUCT</h1>
  <p class="message-p"></p>
  <form
    #addProduct="ngForm"
    class="common-form"
    (submit)="submit(addProduct.value)"
  >
    <input
      type="text"
      class="form-input"
      placeholder="ENTER PRODUCT NAME"
      name="name"
      ngModel="{{ productData?.name }}"
    />
    <input
      type="text"
      class="form-input"
      placeholder="ENTER PRODUCT PRICE"
      name="price"
      ngModel="{{ productData?.price }}"
    />
    <input
      type="text"
      class="form-input"
      placeholder="ENTER PRODUCT CATEGORY"
      name="category"
      ngModel="{{ productData?.category }}"
    />
    <input
      type="text"
      class="form-input"
      placeholder="ENTER PRODUCT COLOR"
      name="color"
      ngModel="{{ productData?.color }}"
    />
    <textarea
      type="text"
      class="form-input"
      placeholder="ENTER PRODUCT DESCRIPTION"
      name="description"
      ngModel="{{ productData?.description }}"
    ></textarea>
    <input
      type="text"
      class="form-input"
      placeholder="ENTER PRODUCT IMAGE URL"
      name="image"
      ngModel="{{ productData?.image }}"
    />
    <button class="form-button">UPDATE PRODUCT</button>
  </form>
</div>
